.primary{
     background-color: #B68C5A;
     color: white;
     border: none;
}
.banner{
     background-image: url(../images/Rectangle\ 4.png),url(../images/Rectangle\ 5.png);
     background-blend-mode: overlay;
     height: 100vh;
     background-repeat: no-repeat;
}
.bg-img-1{
     background-image: url(../images/Rectangle\ 4.png),url(../images/Rectangle\ 5.png);
     background-blend-mode: overlay;
     height: 100vh;
     background-repeat: no-repeat;
}
.bg-img-2{
     background-image: url(../images/Rectangle\ 4.png),url(../images/Rectangle\ 5.png);
     background-blend-mode: overlay;
     height: 100vh;
     background-repeat: no-repeat;
}
.bg-img-3{
     background-image: url(../images/Rectangle\ 4.png),url(../images/Rectangle\ 5.png);
     background-blend-mode: overlay;
     height: 100vh;
     background-repeat: no-repeat;
}
.bg-color{
     background: #F3F3F3;
}

.container{
     margin-bottom: 80px;
}